docker.enabled = true

profiles {
    test {
	   //params.input = [
        //"${projectDir}/data/reads_mother.bam",
        //"${projectDir}/data/reads_father.bam",
        //"${projectDir}/data/reads_son.bam"
       //]
	   params.input= "${projectDir}/samplesheet.csv"
	   params.reference = "${projectDir}/ref/reference.fasta"
	   params.reference_index = "${projectDir}/ref/reference.fasta.fai"
	   params.reference_dict = "${projectDir}/ref/reference.dict"
	   params.intervals = "${projectDir}/ref/intervals.bed"
	   params.cohort_name= "family_trio"
	}
	
}